/* Navigation */

.navbar {
	position: relative;
	height: 100px;
	top: 0;
}

#nav-menu {
	position: absolute;
	bottom: 0;
	right: 0;
	
}
#nav-menu .menu li:hover a {
	color: $green;
}

#nav-mobile {
	width: 100%;
	z-index: 9999;   
}

.line {
	display: block;
	height: 2px;
	width: 100%;
	background-color: $green;
}
h5 {
	color: $green;
}

h3 {
	text-align: center;
}

.adjwidth {
	width: 70%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.adjwidth p,.adjwidth span{
	font-size: 90%;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}

.greentext 	{
	color: $green;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.homeimage {
	margin: 0 auto;
	margin-top: 10px;
	width: 85%;
}

.aligncenter {
	text-align: center;
	font-size: 12px;

}

#logo {
	position: absolute;
	left: 50px;
	top: 15px;
}

.menu a {
	outline: none;
	color: black;
	font-weight: bold;
}


.menu {
	text-align: right;
}


.menu li {
	display: inline-block;
}

.menu li:hover a{
	color: $green;
}


.mobile-menu {
	
	width: 100%;
	z-index: 9999;
	height: 240px;
	background-color: $mobile_menu_bg_color;
	display: none;
}

.mobile-menu ul {
	list-style-type: none;
	left: -20px;
	position: relative;
	width: 100%;
}

.mobile-menu li {
	height: 40px;
	color: $mobile_menu_font_color;
	border-style: solid;
	border-color: $mobile_menu_border;
	@include border_bottom();
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.mobile-menu li:hover {
	background-color: $mobile_menu_bg_hover;
}

@media (min-width: 990px) {
	.mobile-menu {
		display: none;
	}
}

@media (max-width: 639px) {
	#nav-menu {
		display: none;
	}
}

@media (max-width: 450px) {
	#nav {
		display: none;
	}
}
.top-bar {
	@include nav_transition(0.4s);
}
#nav li {
	@include nav_transition(0.4s);
}


.partials-margin {
	margin-top: 100px;
}

.thumbnail {
	margin-bottom: 0;
}

.process {
	margin-left: 100px;
}

.box {
	margin-bottom: 20px;
}

.md-button.md-raised {
	background-color: $green;
}

html.md-default-theme, html, body.md-default-theme, body {
	background-color: white;
}


.menu li a.active {
    color: $green;
}

#project_size {
	width: 150px;
}

.md-button.md-raised:hover:not([disabled]) {
	background-color: #afc781;
}

.circle {
	height: 70px;
	width: 70px;
	background: $green;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
	position: relative;
}

.circle i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -17px 0 0 -17px;
}

.center {
	margin: 0 auto;
}

#water-icon i{
	margin: -17px 0 0 -10px;
}

.desc {
	margin-bottom: 30px;
}
.desc h4 {
	text-align: center;
}

.desc ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.desc li {
	color: $blue;
}

.directions {
	height: 54px;
	text-align: center;
	line-height: 54px;
}

#or {
	position: absolute;
}

#contact-btn-home {
	margin-left: 28px;
}

#title {
	margin-top: 30px;
}

.blue-btn {
	background-color: $blue;
}