<div ng-controller="contactController" class="adjwidth">
  <form novalidate class="simple-form">
    Name: <input type="text" ng-model="user.name" /><br />
    E-mail: <input type="email" ng-model="user.email" /><br />
    Company/Organization: <input type="company" ng-model="user.company" /><br />
    Phone: <input type="phone" ng-model="user.phone" /><br />
    Street Address: <input type="address" ng-model="user.address" /><br />
    Zipcode: <input type="zipcode" ng-model="user.zipcode" /><br />
    How did you hear about us? <select ng-model="user.refer" ng-options="x for x in arrays"></select><br />
  	Would you like us to contact you?<select ng-model="user.contactreq" ng-options="x for x in contactreq"></select><br />
    Questions/Comments: <textarea ng-model="user.form" rows="4" cols="50"></textarea><br />
    <input type="submit" ng-click="update(user)" value="Submit" />

  </form>
</div>
