<!-- Plan-by-us -->
<div class="adjwidth">
	<h4>PLANS BY KOCH & ASSOCIATES</h4>
	<p>Koch & Associates creates unique outdoor living spaces, handling all the details from concept through implementation. The process begins with a collaboration with our licensed landscape architect and ends with installation by our diverse set of craftsmen.</p>

	<h4>Our 7-part process includes:</h4>

	<div class="process">
		<span>DISCOVERY</span>
		<p>During this initial meeting, our landscape architect will seek to understand your vision, goals and budget. How do you envision using this outdoor living space? As a private oasis, or a space for entertaining.</p>

		<span>ASSESS</span>
		<p>To ensure an accurate proposal, we measure, photograph and analyze your property. These site-specific observations such as sun/shade requirements, drainage, and views to preserve, will be implemented into the base plan and design.</p>

		<span>PROPOSE</span>
		<p>We submit a preliminary landscape plan that’s drawn to scale and balances the client’s vision while addressing the site’s natural requirements. This proposal includes an itemized list of all the associated construction costs, including optional elements that can be added or subtracted from the overall design. As a landscape construction firm, we are responsible for submitting budgets, permits and goals that are based on a realistic vision of what’s possible.</p>

		<span>REVIEW</span>
		<p>The client reviews the proposal and selects which options will work best within their budget and timeline. Upon sign-off, the project will officially begin.</p>

		<span>TRANSLATE</span>
		<p>The landscape architect incorporates your design plans into construction documents. We’ll also establish a clear schedule of the various time-lines, including payment, construction, and permits.</p>

		<span>FACILITATE</span>
		<p>Koch & Associates gets your construction documents through the city agencies. In addition to obtaining any permits, we are also 100% responsible for installing the project on time and on budget.</p>

		<span>INSTALL</span>
		<p>Our professional craftsmen carefully adhere to the design blueprints and install a quality project that reflects the client’s initial vision.</p>
	</div>

	<h4>For over 35 years, quality has been our legacy.</h4>

	<md-button class="md-raised" ng-href="#/contact">Contact Us</md-button>

</div>