<div class="adjwidth">
	<h4>PLAN BY OTHERS</h4>
	<p>Koch & Associates is a landscape construction company that welcomes the opportunity to work with plans designed by others.</p>
	<br>
	<p>We know that today’s homeowners have a variety of options in procuring landscape design services. While some enjoy having a single company perform both design and installation, others prefer to have their professional plans independently created prior to selecting a contractor.</p>
	<br>
	<p>Throughout the years, we’ve built solid relationships with quality landscape design professionals. We enjoy collaborating on projects and helping our mutual clients build highly personalized outdoor living spaces. </p>
	<br>
	<p><a class="greentext" href="#/contact">Contact us</a> to view your work or provide an estimate for your project.</p>
</div>