<div class="adjwidth">
	<h4>Portfolio</h4>
	<hr>
	<div class="key">
	<b>Project sizes</b><br>
	Small: <i class="fa fa-leaf" aria-hidden="true"></i> <br>
	Medium: <i class="fa fa-leaf" aria-hidden="true"></i> <i class="fa fa-leaf" aria-hidden="true"></i> <br>
	Large: <i class="fa fa-leaf" aria-hidden="true"></i> <i class="fa fa-leaf" aria-hidden="true"></i> <i class="fa fa-leaf" aria-hidden="true"></i>

	</div>
	<hr>

	<div class="row small-up-1 medium-up-2 large-up-3">
	  <div class="column">
	  	<span>Danville Home <i class="fa fa-leaf" aria-hidden="true"></i></span>
	    <img src="./img/portfolio/danville-thumb.jpg" class="thumbnail" alt="">
	  </div>
	  <div class="column">
	  	<span>Fremont Home 1 <i class="fa fa-leaf" aria-hidden="true"></i></span>
	    <img src="./img/portfolio/fremont-home1-thumb.jpg" class="thumbnail" alt="">
	  </div>
	  <div class="column">
	  	<span>Fremont Home 2 <i class="fa fa-leaf" aria-hidden="true"></i></span>
	    <img src="./img/portfolio/fremont-home2-thumb.jpg" class="thumbnail" alt="">
	  </div>
	  <div class="column">
	  	<span>Los Gatos Home <i class="fa fa-leaf" aria-hidden="true"></i> <i class="fa fa-leaf" aria-hidden="true"></i></span>
	    <img src="./img/portfolio/los-gatos-thumb.jpg" class="thumbnail" alt="">
	  </div>
	  <div class="column">
	  	<span>Menlo Park Home <i class="fa fa-leaf" aria-hidden="true"></i> <i class="fa fa-leaf" aria-hidden="true"></i></span>
	    <img src="./img/portfolio/menlo-park-thumb.jpg" class="thumbnail" alt="">
	  </div>
	  <div class="column">
	  	<span>Pleasanton Home <i class="fa fa-leaf" aria-hidden="true"></i> <i class="fa fa-leaf" aria-hidden="true"></i> </span>
	    <img src="./img/portfolio/pleasanton-thumb.jpg" class="thumbnail" alt="">
	  </div>
	  <div class="column">
	  	<span>San Jose Home <i class="fa fa-leaf" aria-hidden="true"></i> <i class="fa fa-leaf" aria-hidden="true"></i> <i class="fa fa-leaf" aria-hidden="true"></i></span>
	    <img src="./img/portfolio/san-jose-thumb.jpg" class="thumbnail" alt="">
	  </div>
	  <div class="column">
	  	<span>Saratoga Home 1 <i class="fa fa-leaf" aria-hidden="true"></i><i class="fa fa-leaf" aria-hidden="true"></i><i class="fa fa-leaf" aria-hidden="true"></i></span>
	    <img src="./img/portfolio/saratoga-home1-thumb.jpg" class="thumbnail" alt="">
	  </div>
	  <div class="column">
	  	<span>Saratoga Home 2 <i class="fa fa-leaf" aria-hidden="true"></i><i class="fa fa-leaf" aria-hidden="true"></i><i class="fa fa-leaf" aria-hidden="true"></i></span>
	    <img src="./img/portfolio/saratoga-home2-thumb.jpg" class="thumbnail" alt="">
	  </div>
	</div>
</div>
