<div class="adjwidth">
	<h4>COMPANY</h4>
	<p>Founded in 1978, Koch & Associates is one of the Bay Area's longest-running landscape construction firms. Our master-builder approach offers clients one source of contact for landscape installation. This collaboration between the landscape architect and landscape contractor ensures that the integrity of the design will be maintained as it moves throughout each phase of implementation.
	</p>
	<p>
	At Koch & Associates, Inc., we begin each outdoor landscape project with a close collaboration between the homeowner and the landscape architect. Combining a spirited discovery with a thorough site analysis allows for a unique project that incorporates the client’s personality and interests, while enhancing the site’s natural harmony.
	</p>
	<span>California licensed landscape contractor #500296</span>
	<br>
	<span>Douglas R. Koch, President</span>
	<br>
	<br>
	<span>California licensed landscape architect #4623</span>
	<br>
	<span>Pamela Jones</span>
	<br>
	<br>
	<h5>For over 35 years, we’ve helped clients create their ideal outdoor living space.</h5>
	<br>
	<a href="#/contact" class="button success large">Contact Us</a>

</div>